.calculator {
font-size: 28px;
width: 10em;
margin: 0 auto;
}
button {
border: 0;
background:#e6f2ff;
color: #6cacc5;
float: left;
font-size: 28px;
margin: 0.25em;
width: 2em;
height: 2em;
transition: all 0.5s;
}
.result {
border: 2px solid #cccccc;
display: block;
margin : 0 auto;
position: relative;
width:90%;
font-size: 24px;
margin-bottom: 10px;
}